{% extends 'core/base.html' %}
{% load static %}

{% block title %}
  <title>
      | Iniciar sesión
  </title>
{% endblock %}

{% block content %}
    <style>
        .errorlist{
            color:red; 
        }
        .main{
            margin:70px 0px;
        }
    </style>

    <main role="main" class="main">
        <div class="container">
            <div class="row ">
                <div class="col-md-5 mx-auto  text-center">
                    {% if "register" in request.GET %}
                        <p style="color:green; border-bottom: 1px solid green;">Usuario registrado correctamente, ya puedes iniciar sesión.</p>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}

                        <br>
                        <h3>Iniciar sesión</h3>
                        {% if form.non_field_errors %}
                            <p style="color:red">
                                Ususario o contraseña incorrecta
                            </p>
                        {% endif %}
                        <p>
                            <input type="text" name="username" autofocus maxlength="254" required id="id_username" class="form-control" placeholder="Nombre de usuario">
                        </p>
                        <p>
                            <input type="password" name="password" autofocus maxlength="254" required id="id_password" class="form-control" placeholder="Contraseña">
                        </p>
                        <p>
                            <input type="submit" class="btn btn-primary btn-block" value="Acceder" >
                        </p>
                        Has olvidado tu contraseña? Puedes recuperarla <a href="{% url 'password_reset' %}">Aqui</a>
                    </form>
                </div>
            </div>
        </div>
    </main>


{% endblock %}

