{% extends 'core/base.html' %}

{% block title %}
	<title>Restablecer contraseña</title>
{% endblock %}

{% block navbar%}
{% endblock %}

{% block content %}
    <style>
        .errorlist{
            color:red; 
        }
        .main{
            margin:75px 0px;
        }
    </style>
    <main role="main" class="main" >
        <div class="container">
            <div class="row ">
                <div class="col-md-6 mx-auto ">

                        <form method="post">
                            {% csrf_token %}
                            <h3>Restablecer contraseña</h3>
                            <p> Has olvidado su clave? Introduzca su dirección de correo a continuación y le enviaremos por correo electronico mas instruscciones</p>
                            {{form.email.errors}}
                            <p>
                                <input type="email" name="email" maxlength="254" id="id_email" class="form-control" placeholder="Introduce tu email">
                            </p>
                            <p>
                                <input type="submit"  class="btn btn-primary btn-block" value="Confirmar"/>
                            </p>
                            
                        </form>

                </div>
            </div>
        </div>
    </main>
{% endblock %}