{% extends 'core/base.html' %}

{% block title %}
	<title>Contraseña restablecida</title>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

<style>
        .errorlist{
            color:red; 
        }
        .main{
            margin:80px 0px;
        }
    </style>

	<main role="main" class="main">
		<div class="container">
			<div class="row ">
				<div class="col-md-8 mx-auto">

					<h1 class="text-center">Su contraseña se reestableció correctamente</h1>

					<p class="text-center mt-5"><a class="btn btn-primary btn-block" href="{% url 'login' %}">Iniciar sesión</a></p>
					
				</div>
			</div>
		</div>
	</main>
{% endblock %}