{% extends 'core/base.html' %}

{% block title %}
	<title>Nueva Contraseña </title>
{% endblock %}

{% block navbar %}
{% endblock %}


{% block content %}

	{% if validlink %}

		<style>
	        .errorlist{
	            color:red; 
	        }
	        .main{
	            margin:40px 0px;
	        }
    	</style>
		<main role="main " class="main">
			<div class="container-fluid">
				<div class="row ">
					<div class="col-md-12 mx-auto ">
						<h1 class="text-center  ">Nueva contraseña</h1>	 
						<form method="post" class="text-center" >
							{% csrf_token %}
							
								<div class="form-group">
									{{ form.new_password1.errors }}
									<label class="pr-4 mt-4 mb-1" for="id_new_password1">Nueva contraseña:</label>
									{{ form.new_password1 }}
								</div>
							
								<div class="form-group">
									{{ form.new_password2.errors }}
									<label class="pr-1 mt-2 mb-1" for="id_new_password2">Confirme contraseña:</label>
									{{ form.new_password2 }}
								</div>
							
								<div class="form-group">
									<input type="submit"  class="mt-4 mb-4 btn btn-primary " value="Cambiar mi contraseña" />
								</div>
							
						</form>
					</div>
				</div>
			</div>
		</main>
							
		{% else %}
		<main role="main " class="main" >
			<div class="container-fluid">
				<div class="row ">
					<div class="col-md-12 mx-auto ">
						
						<h1 class="text-center" style="color:red; margin: 105px 0px;">
							<span >ENLACE INVÁLIDO </span>		 
							<br>	
							<span>

							</span>
							ESTE ENLACE EXPIRÓ PORQUE <br> YA HA SIDO UTILIZADO
						</h1>
					</div>
				</div>
			</div>
		</main>
	{% endif %}

{% endblock %}