{% extends 'core/base.html' %}
{% load static %}

{% block title %}
  <title>
      | Crear cuenta
  </title>
{% endblock %}


{% block content %}
    <style>.errorlist{color:red;} label{display:none}</style>
    <main role="main" style=" margin: 40px 0px;">
        <div class="container">
            <div class="row ">
                <div class="col-md-8 mx-auto">



                    <form method="post">
                        {% csrf_token %}

                        <br>
                        <h3>Registro</h3>

                        {{form.as_p}}

                        <p>
                            <input type="submit" class="btn btn-primary btn-block" value="Confirmar" >
                        </p>

                    </form>




                </div>
            </div>
        </div>
    </main>


{% endblock %}